<%= link_to new_post_path do %>
  <h2 class="btn btn-warning btn-lg new_post">Create a New Post</h2>
<% end %>

<% @posts.each do |post| %>
  <div class="post">
      <hr>
      <% if post.link.present? %>
        <h2>
          URL: <%= link_to post.title, post.link %>
          <small> By: <%= post.author %> </small>
        </h2>
      <% else %>
        <h2>
          <%= link_to post.title, post_path(id: post.id) %>
          <small> By: <%= post.author %> </small>
        </h2>
      <% end %>
  </div>
<% end %>
