<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to root_path do %>
  <header class='text-center'>
    <h1>Totally Reddit</h1>
    <%=image_tag 'http://img00.deviantart.net/cd1d/i/2006/033/3/e/snoop_dogg_pirate_by_markov.jpg', class:'pirate'%>
  </header>
  <% end %>
<div class="container">
<%= yield %>
</div>


</body>
</html>
